.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("https://1.bp.blogspot.com/-CXM4b_08uZQ/X_gfs2Sn6_I/AAAAAAAAEiw/rntB9CAVP9c44J7aRkNYf8yxWaqbHmnyQCNcBGAsYHQ/s16000/Escape-from-Tarkov-2021-Latest-Detailed-Guide.jpg");
  background-size: 66%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
